@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
.photo-wrapper {
  display: inline-block;
}

.photo-container {
  width: 170px;
  height: 190px;
  background: white;
  padding: 0;
  overflow: hidden;
  border-radius: 1px;
  box-shadow: grey 1px 1px;
  margin: 15px;
  transition: transform 100ms ease-in-out;
  transition: box-shadow 50ms;
}

.photo-container.hovering {
  transform: translate(-5px, -5px);
  box-shadow: grey 7px 7px 3px;
}

.photo-container img {
  width: 150px;
  height: 150px;
  margin: 10px auto 0 auto;
  display: block;
  object-fit: cover;
  border: 1px #f6f6f6 solid;
}

.photo-container .note,
.photo-container .long-note {
  color: black;
  margin: 0 auto;
  font-family: "Indie Flower", cursive;
  font-weight: 800;
}

.photo-container .note {
  font-size: 20px;
}

.long-note {
  font-size: 12px;
}

.long-note:nth-of-type(2) {
  margin-top: -6px;
}
